.title {
    font-size: 30px;
    margin: 10px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    margin-top: 0;
    padding: 15px;
    width: 300px;
    gap: 15px;
    border-style: groove;
}

.label {
display: flex;
flex-direction: column;
}